<html>
  <head>
    <%= yield 'layouts/bootstrap-tabs.js' %>
    <%= yield 'layouts/bootstrap-dropdown.js.js' %>
    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class=span12>
        <form class="well">
          <%= render 'layouts/body' %>
        </form>
      </div>
    </div>
  </body>
</html>
