@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: #D8D8D8;
}

.line {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

.table {
  padding: 10px;
}

.navbar-inner {
  max-height: 40px;
}

li {
  font-weight:bold;
}
