<label><h1>Resume</h1></label>
<div class="line"></div>
<div class="tabbable">

  <ul class="nav nav-pills">
    <li class="active"><a href="#tab1" data-toggle="pill">Personal Profile</a></li>
    <li><a href="#tab2" data-toggle="pill">Education</a></li>
    <li><a href="#tab3" data-toggle="pill">Professional Experience</a></li>
    <li><a href="#tab4" data-toggle="pill">Technical Skills</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render 'layouts/profile' %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render 'layouts/edu' %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= render 'layouts/proff' %>
    </div>
    <div class="tab-pane" id="tab4">
      <%= render 'layouts/tech' %>
    </div>
  </div>
</div>
