<table class="table table-bordered" id="bordered">
  <tr>
    <td>
      <%= render 'layouts/resume_header' %>
      <h3>State University of New York Institute of Technology</h3>
      <ul>
        <li>Major: Computer Science</li>
        <li>Minor: Mathmatics</li>
        <li>Focus: C, C++, Java, OOP, Algorithms, Software Engineering, Database Design, Unix, Statistics and Probability.</li>
        <li>Undergraduate class of 2011.</li>
      </ul>
      <center><%= link_to image_tag("sunyit.png", :size => "150x60"), "http://sunyit.edu/" %></center> 
    </td>
  </tr>
</table>

