<table class="table table-bordered" id="bordered">
  <tr>
    <td>
      <div class="row">
        <center><h1>Nicholas Mercer<h1></center>
        <center><h3>Syracuse, NY</h3></center>
      </div>
      <div class="line"></div>

      <ul>
        <li>State University of New York Institute of Technology - Utica, NY</li>
        <li>Undergraduate degree with a major in computer science and a minor in mathematics.</li>
        <li>Graduated December, 2010.</li>
      </ul>
    </td>
  </tr>
</table>

