<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand name">Nicholas Mercer</a>

      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li class="img"><%= link_to image_tag("fb.png", :size => "50x129"), "http://facebook.com/nicholasjohnmercer" %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to image_tag("linkedin.png", :size => "50x129"), "http://www.linkedin.com/pub/nicholas-mercer/29/229/812" %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to image_tag("github.png", :size => "50x129"), "https://github.com/nmercer" %></li>
        <li class="divider-vertical"></li>
      </ul>

    </div>
  </div>
</header>
