<table class="table table-bordered" id="bordered">
  <tr>
    <td>
      <%= render 'layouts/resume_header' %>

      <h3>
        Navisite, Software Engineer R&D, 2011-Present 
      </h3>
      <ul>
        <li>Frontend and backend work in a custom built Python web framework built around Javascript/Jquery, XML, CSS/SASS, Apache, nginx and PostgreSQL.</li>
        <li>Integrated NetApp's enterprise storage system as a multi tenant self service product into Navisites online enterprise hosting service from frontend to backend.</li>
        <li>Backend Development</li>
        <ul>
          <li>Implementing partner services via API or by building an API on REST'ful principles.</li>
          <li>Designing and developing solutions for time, resource and network intensive challenges.</li>
          <li>Database design.</li>
          <li>Bug fixing, Bug Finding and Testing.</li>
        </ul>
        <li>Frontend Development</li>
        <ul>
          <li>Dynamic website creation using JS/Jquery, XML, Python, Ajax, CSS/SASS.</li>
          <li>UI/UX design.</li>
          <li>Bug fixing, Bug Finding and Testing.</li>
        </ul>
        <li>Work in VMware's VCenter management software and API.</li>
      </ul>

      <h3>WVT Communications, NOC Technician, 2009-2011</h3>
      <ul>
        <li>Installed, configured and maintain trouble ticketing system.  (OTRS)</li>
        <li>Write and maintain scripts to speed up functions of the NOC.</li>
        <li>Manage and support the tickets for wholesale and hosted customers.  Includes answering service calls, and contacting customers.</li>
      </ul>

      <h3>USA Datanet, Junior Network Operations Center Technician, 2008</h3>
      <ul>
        <li>Monitored wholesale telephony traffic.  Including troubleshooting issues that our providers reported and working with underlying carriers to solve issues.</li>
        <li>Small script writing tasks for in-house programmer.</li>
      </ul>

      <div class="line"></div>

      <center>
        <%= link_to image_tag("navi.png", :size => "206x1000"), "http://www.navisite.com/" %>
        <%= link_to image_tag("wvt.png", :size => "206x70"), "http://www.warwick.net/" %>
        <%= link_to image_tag("usad.png", :size => "120x1000"), "http://www.usadatanet.com/" %>
      </center>


    </td>
  </tr>
</table>

