<table class="table table-bordered" id="bordered">
  <tr>
    <td>
      <div class="row">
        <center><h1>Nicholas Mercer<h1></center>
        <center><h3>Syracuse, NY</h3></center>
      </div>
      <div class="line"></div>

      <ul>
        <li>Currently working as a Software Engineer at Naviste in the R&D department on the enterprise hosting project.</li>
        <li>Completed undergraduate degree at the State University of New York Institute of Technology with a major in computer science, and a minor in mathematics while working full and part-time as a network operations technician as an intern and as an employee.</li>
    </td>
  </tr>
</table>

