<table class="table table-bordered" id="bordered">
  <tr>
    <td>
      <%= render 'layouts/resume_header' %>
      <ul>
        <li>Currently working as a Software Engineer at Naviste in the R&D department on the <%=link_to("Enterprise Hosting Project", "http://navisite.com/solutions-enterprise-hosting.htm") %>.</li>
        <li>Completed undergraduate degree at the <%=link_to("State University of New York Institute of Technology", "http://sunyit.edu/") %> with a major in computer science, and a minor in mathematics while working full and part-time as a network operations technician as an intern and as an employee.</li>
        <li>Hobbies include: Motorcycling, Bicycling & Coding. </li>
      </ul>
    </td>
  </tr>
</table>

