<table class="table table-bordered" id="bordered">
  <tr>
    <td>
      <%= render 'layouts/resume_header' %>
      <ul>
        <li>Proficient in: Python, Javascript, jQuery, XML, JSON, JAVA, CSS, REST Methodology, Git, SQL and Apache.</li>
        <li>Familiar with: Ruby/Rails, PHP, Android Development, C, C++, RRDTool, Twitter Bootstrap</li>
        <li>Very proficient in a command line environment. Linux/UNIX, Windows, Mac.</li>
        <li>Strong communication and teamwork skills.</li>
        <li>Quick learner.</li>
      </ul>
    </td>
  </tr>
</table>

