<table class="table table-bordered" id="bordered">
  <tr>
    <td>
      <%= render 'layouts/resume_header' %>
      <h3>Technical</h3>
      <ul>
        <li>Proficient with: Python, Javascript, jQuery, XML, JSON, JAVA, CSS, REST, Git, SQL and Apache.</li>
        <li>Familiar with: Ruby/Rails, PHP, Android Development, C, C++ and RRDTool.</li>
        <li>Thrive in a command line environment. Linux/UNIX, Windows, Mac.</li>
      </ul>
      <h3>Personal</h3>
      <ul>
        <li>Excellent comprehension and retention. Quick learner.</li>
        <li>Strong communication and teamwork skills.</li>
        <li>Ability to foresee problem before they become critical.</li>
        <li>Analytical and creative problem solver.</li>
        <li>Organized.</li>
      </ul>

    </td>
  </tr>
</table>

